@model IEnumerable<InstructionsWebApplication.Models.Page>

<div class="jumbotron form-group">
    <h1 class="text-center"> @ViewBag.InstructionName</h1>
    <div>
        @Html.ActionLink(Localizer["AddPage"].Value, "AddPage", "Instruction", new { InstructionId = ViewBag.InstructionId }, new { @class = "btn btn-success btn-block " })
    </div>
</div>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    int count = 0;
}
@{
    var markdown = new MarkdownSharp.Markdown();
}

@foreach (var item in Model)
{
    count++;
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="thumbnail">
                <h3 class="text-center">@Localizer["Step"] @count</h3>
                <img src="@item.ImageURL" alt="...">
                <div class="caption">
                    @{
                        string text = markdown.Transform(item.Text);
                    }

                    <div class="well">
                        <p>
                            gaf
                            @Html.Raw(text)
                        </p>
                    </div>

                    <p>
                        <div class="btn-group btn-group-justified">
                            @Html.ActionLink(Localizer["Edit"].Value, "EditPage", "Instruction", new { InstructionId = ViewBag.InstructionId, PageId = item.PageId }, new { @class = "btn btn-primary" })
                            @Html.ActionLink(Localizer["Delete"].Value, "DeletePage", "Instruction", new { InstructionId = ViewBag.InstructionId, PageId = item.PageId }, new { @class = "btn btn-success" })
                        </div>
                    </p>

                </div>
            </div>
        </div>
    </div>

}


